html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}


[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}


optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
*, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
* {
    outline: none !important;
}
a {
    color: #212121;
    @include transition(color .2s);
    &:hover, &:focus, &:active {
        outline: 0;
        text-decoration: none;
        color: #212121;
    }
}
$empty: transparent !important;
$primary: #007bff !important;
$success: #2dce89 !important;
$info: #11cdef !important;
$warning: #fb6340 !important;
$danger: #f5365c !important;
$muted: #6c757d !important;
$inverse: #4c5667 !important;
$purple: #BF55EC !important;
$pink: #f76397 !important;
$white: #ffffff !important;
$dark: #212121 !important;
$grey: #9aa0ac !important;
$aqua: #3ec5d6 !important;
$blue: #19B5FE !important;
$light-blue: #89CFF0 !important;
$teal: #008081 !important;
$yellow: #F7CA18 !important;
$orange: #FF8000 !important;
$green: #26C281 !important;
$lime: #cad900 !important;
$red: #F22613 !important;
$fuchsia: #df2de3 !important;
$navy: #000080 !important;

$theme: #ef4153 !important;
$facebook: #3b579d !important;
$twitter: #1da1f2 !important;
$dribbble: #ea4c89 !important;
$linkedin: #0177b4 !important;
$google: #dc4a38 !important;
$instagram: #fb3958 !important;
$behance: #053eff!important;

.bg-theme {
    background-color: $theme;
}
.bg-aqua {
    background-color: $aqua;
}
.bg-blue {
    background-color: $blue;
}
.bg-light-blue {
    background-color: $light-blue;
}
.bg-teal {
    background-color: $teal;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-orange {
    background-color: $orange;
}
.bg-green {
    background-color: $green;
}
.bg-lime {
    background-color: $lime;
}
.bg-red {
    background-color: $red;
}
.bg-fuchsia {
    background-color: $fuchsia;
}
.bg-navy {
    background-color: $navy;
}
.bg-empty {
    background: $empty;
}
.bg-primary {
    background-color: $primary;
}
.bg-success {
    background-color: $success;
}
.bg-info {
    background-color: $info;
}
.bg-warning {
    background-color: $warning;
}
.bg-danger {
    background-color: $danger;
}
.bg-muted {
    background-color: $muted;
}
.bg-inverse {
    background-color: $inverse;
}
.bg-purple {
    background-color: $purple;
}
.bg-pink {
    background-color: $pink;
}
.bg-white {
    background-color: $white;
}
.text-blue {
    color: $blue;
}
.text-light-blue {
    color: $light-blue;
}
.text-teal {
    color: $teal;
}
.text-navy {
    color: $navy;
}
.text-lime {
    color: $lime;
}
.text-orange {
    color: $orange;
}
.text-yellow {
    color: $yellow;
}
.text-aqua {
    color: $aqua;
}
.text-white {
    color: $white;
}
.text-danger {
    color: $danger;
}
.text-green {
    color: $green;
}
.text-primary {
    color: $primary;
}
.text-warning {
    color: $warning;
}
.text-success {
    color: $success;
}
.text-info {
    color: $info;
}
.text-inverse {
    color: $inverse;
}
.text-pink {
    color: $pink;
}
.text-purple {
    color: $purple;
}
.text-dark {
    color: $dark;
}
.text-fuchsia {
    color: $fuchsia;
}
.text-red {
    color: $red;
}
.text-facebook {
    color: $facebook;
}
.text-twitter {
    color: $twitter;
}
.text-instagram {
    color: $instagram;
}
.text-google {
    color: $google;
}
.text-linkedin {
    color: $linkedin;
}
.text-behance {
    color: $behance;
}
.text-red {
    color: $red;
}

.min-width-zero {
    min-width: 0;
}
.w-10 {
    width: 10%!important
}
.w-90 {
    width: 90%!important
}
.w-12 {
    width: 12%!important
}
.w-88 {
    width: 88%!important
}
.w-15 {
    width: 15%!important
}
.w-85 {
    width: 85%!important
}
.w-20 {
    width: 20%!important
}
.w-80 {
    width: 80%!important
}
.w-30 {
    width: 30%!important
}
.w-70 {
    width: 70%!important
}
.w-40 {
    width: 40%!important
}
.w-60 {
    width: 60%!important
}
.m-0 {
    margin: 0 !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-25 {
    margin-top: 25px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-35 {
    margin-top: 35px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-45 {
    margin-top: 45px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-55 {
    margin-top: 55px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-65 {
    margin-top: 65px !important;
}
.mt-70 {
    margin-top: 70px !important;
}
.mt-75 {
    margin-top: 75px !important;
}
.mt-80 {
    margin-top: 80px !important;
}
.mt-85 {
    margin-top: 85px !important;
}
.mt-90 {
    margin-top: 90px !important;
}
.mt-95 {
    margin-top: 95px !important;
}
.mt-100 {
    margin-top: 100px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-35 {
    margin-bottom: 35px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-45 {
    margin-bottom: 45px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-55 {
    margin-bottom: 55px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-65 {
    margin-bottom: 65px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-75 {
    margin-bottom: 75px !important;
}
.mb-80 {
    margin-bottom: 80px !important;
}
.mb-85 {
    margin-bottom: 85px !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}
.mb-95 {
    margin-bottom: 95px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.ml-0 {
    margin-left: 0px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.ml-25 {
    margin-left: 25px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.ml-35 {
    margin-left: 35px !important;
}
.ml-40 {
    margin-left: 40px !important;
}
.ml-45 {
    margin-left: 45px !important;
}
.ml-50 {
    margin-left: 50px !important;
}
.ml-55 {
    margin-left: 55px !important;
}
.ml-60 {
    margin-left: 60px !important;
}
.ml-65 {
    margin-left: 65px !important;
}
.ml-70 {
    margin-left: 70px !important;
}
.ml-75 {
    margin-left: 75px !important;
}
.ml-80 {
    margin-left: 80px !important;
}
.ml-85 {
    margin-left: 85px !important;
}
.ml-90 {
    margin-left: 90px !important;
}
.ml-95 {
    margin-left: 95px !important;
}
.ml-100 {
    margin-left: 100px !important;
}
.mr-0 {
    margin-right: 0px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mr-25 {
    margin-right: 25px !important;
}
.mr-30 {
    margin-right: 30px !important;
}
.mr-35 {
    margin-right: 35px !important;
}
.mr-40 {
    margin-right: 40px !important;
}
.mr-45 {
    margin-right: 45px !important;
}
.mr-50 {
    margin-right: 50px !important;
}
.mr-55 {
    margin-right: 55px !important;
}
.mr-60 {
    margin-right: 60px !important;
}
.mr-65 {
    margin-right: 65px !important;
}
.mr-70 {
    margin-right: 70px !important;
}
.mr-75 {
    margin-right: 75px !important;
}
.mr-80 {
    margin-right: 80px !important;
}
.mr-85 {
    margin-right: 85px !important;
}
.mr-90 {
    margin-right: 90px !important;
}
.mr-95 {
    margin-right: 95px !important;
}
.mr-100 {
    margin-right: 100px !important;
}
.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0px !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-25 {
    padding-top: 25px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-35 {
    padding-top: 35px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-45 {
    padding-top: 45px !important;
}
.pt-50 {
    padding-top: 50px !important;
}
.pt-55 {
    padding-top: 55 !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pt-65 {
    padding-top: 65px !important;
}
.pt-70 {
    padding-top: 70px !important;
}
.pt-75 {
    padding-top: 75px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.pt-85 {
    padding-top: 85px !important;
}
.pt-90 {
    padding-top: 90px !important;
}
.pt-95 {
    padding-top: 95px !important;
}
.pt-100 {
    padding-top: 100px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-25 {
    padding-bottom: 25px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pb-35 {
    padding-bottom: 35px !important;
}
.pb-40 {
    padding-bottom: 40px !important;
}
.pb-45 {
    padding-bottom: 45px !important;
}
.pb-50 {
    padding-bottom: 50px !important;
}
.pb-55 {
    padding-bottom: 55px !important;
}
.pb-60 {
    padding-bottom: 60px !important;
}
.pb-65 {
    padding-bottom: 65px !important;
}
.pb-70 {
    padding-bottom: 70px !important;
}
.pb-75 {
    padding-bottom: 75px !important;
}
.pb-80 {
    padding-bottom: 80px !important;
}
.pb-85 {
    padding-bottom: 85px !important;
}
.pb-90 {
    padding-bottom: 90px !important;
}
.pb-95 {
    padding-bottom: 95px !important;
}
.pb-100 {
    padding-bottom: 100px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pl-5 {
    padding-left: 5px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.pl-25 {
    padding-left: 25px !important;
}
.pl-30 {
    padding-left: 30px !important;
}
.pl-35 {
    padding-left: 35px !important;
}
.pl-40 {
    padding-left: 40px !important;
}
.pl-45 {
    padding-left: 45px !important;
}
.pl-50 {
    padding-left: 50px !important;
}
.pl-55 {
    padding-left: 55px !important;
}
.pl-60 {
    padding-left: 60px !important;
}
.pl-65 {
    padding-left: 65px !important;
}
.pl-70 {
    padding-left: 70px !important;
}
.pl-75 {
    padding-left: 75px !important;
}
.pl-80 {
    padding-left: 80px !important;
}
.pl-85 {
    padding-left: 85px !important;
}
.pl-90 {
    padding-left: 90px !important;
}
.pl-95 {
    padding-left: 95px !important;
}
.pl-100 {
    padding-left: 100px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.pr-5 {
    padding-right: 5px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pr-25 {
    padding-right: 25px !important;
}
.pr-30 {
    padding-right: 30px !important;
}
.pr-35 {
    padding-right: 35px !important;
}
.pr-40 {
    padding-right: 40px !important;
}
.pr-45 {
    padding-right: 45px !important;
}
.pr-50 {
    padding-right: 50px !important;
}
.pr-55 {
    padding-right: 55px !important;
}
.pr-60 {
    padding-right: 60px !important;
}
.pr-65 {
    padding-right: 65px !important;
}
.pr-70 {
    padding-right: 70px !important;
}
.pr-75 {
    padding-right: 75px !important;
}
.pr-80 {
    padding-right: 80px !important;
}
.pr-85 {
    padding-right: 85px !important;
}
.pr-90 {
    padding-right: 90px !important;
}
.pr-95 {
    padding-right: 95px !important;
}
.pr-100 {
    padding-right: 100px !important;
}
.f-10 {
    font-size: 10px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-22 {
    font-size: 22px !important;
}
.f-24 {
    font-size: 24px !important;
}
.f-26 {
    font-size: 26px !important;
}
.f-28 {
    font-size: 28px !important;
}
.f-30 {
    font-size: 30px !important;
}
.f-40 {
    font-size: 40px !important;
}
.f-50 {
    font-size: 50px !important;
}
.f-60 {
    font-size: 60px !important;
}
.f-70 {
    font-size: 70px !important;
}
.f-80 {
    font-size: 80px !important;
}
.f-90 {
    font-size: 90px !important;
}
.f-100 {
    font-size: 100px !important;
}
.hidden {
    display: none !important;
}

.d-inline-block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
@include mq('tablet-wide', 'max') {
    .w-sm-100 {
        width: 100%!important;
    }
}
@include mq('tablet', 'max') {
    .w-xs-100 {
        width: 100%!important;
    }
}